<div class="cards-container">
  <div *ngFor="let user of users" class="card-item">
    <div class="card">
      <div class="inside-container">
        <div class="img-header">
          <img
            [src]="user.avatar"
            alt="{{ user.first_name }} {{ user.last_name }}"
            class="card-img"
          />
        </div>
        <div class="card-bottom">
          <div class="card-title">
            {{ user.first_name }} {{ user.last_name }}
          </div>
          <div class="card-content">
            <mat-icon
              class="email-icon"
              aria-hidden="false"
              aria-label="Email icon"
            >email</mat-icon>
            <a class="email-text" [href]="'mailto:' + user.email">{{ user.email }}</a>
          </div>
          <div class="card-actions">
            <button class="details-button" [routerLink]="['/user-detail', user.id]">User Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
